@font-face {
    font-family: roboto-mono-regular;
    src: url(/myassets/fonts/RobotoMono-Regular.ttf);
}
@font-face {
    font-family: roboto-mono-light;
    src: url(/myassets/fonts/RobotoMono-Light.ttf);
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    height: 0;
    background: transparent;  /* Optional: just make scrollbar invisible */
}
*{
    margin: 0;
    padding: 0;
    font-family: roboto-mono-regular;
    box-sizing: border-box;
}
.app-layout{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px 1fr;
    height: 100vh;
    grid-template-areas: 
    "header header"
    "sidebar main";
    background-image: radial-gradient(transparent -100%, black 100%), url(/Blizzard-Client-UI\ 7/background/games.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}
header{
    grid-area: header;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100px;
}
header nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}
header nav ul li {
    align-items: center;
    padding: 5px 2px;
    transition: 0.5s;
    font-size: 1.5rem;
}
header nav ul li:hover{
    transform: scale(1.2);
}
header nav ul li a:link, header nav ul li a:visited, header nav ul li a:active{
    color: #fff;
    text-decoration: none;
}
/* Username and avatar */
.username-avatar-wrapper, .username-status-wrapper > .username-status{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.username-status .user-status{
    color: rgb(24, 207, 24);
    font-size: 12px;
}
#offline{
    color: red;
    font-size: 12px;
}
.username-avatar img {
    border-radius: 50%;
    width: 70px;
}
.user-wrapper{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}
.user-wrapper .online-friends-wrapper{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
}
.user-wrapper .online-friends-wrapper > img{
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
}
/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translate(-20%);
}
.online-friends-wrapper.dropdown .dropdown-content{
    transform: translate(-40%, 52%);
    min-width: 120px;
}
.dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.dropdown-content li:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* mobile nav */
.mobile-nav ul{
    list-style: none;
}
.mobile-nav .user-name-avatar{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1.5rem 0;
}
.mobile-nav .user-avatar{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.mobile-nav .user-friends{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;
}
.mobile-nav .user-friends img {
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
}
/* side bar */
.side-bar{
    grid-area: sidebar;
    /* background-color: green; */
    text-align: center;
    padding: 6px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.side-bar img {
    width: 100%;
    /* max-height: 70px; */
}
main{
    grid-area: main;
    /* background-color: blue; */
    overflow-y: auto;
    padding: 4rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.whats-new{
    margin-bottom: 2rem;
}
.whats-new-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.whats-new .whats-new-header .show-more a{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.whats-new-banner{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}
.whats-new-banner img{
    width: 400px;
    border-radius: 7px;
}
.play-now-header{
    margin-bottom: 1rem;
}
.play-now-banner{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    gap: 1rem;
}
.play-now-banner img{
    width: 200px;
    border-radius: 7px;
}
img{
    cursor: pointer;
}
/* mobile nav */
.burger{
    display: none;
    font-size: 2rem;
}
.close-btn{
    font-size: 1.5rem;
}
.mobile-nav{
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: 1s;
    z-index: 100;
    text-align: end;
    background-color: #0c0636;
    padding: 2rem;
    padding-right: 2rem;
    height: 100vh;
}
a:link, a:visited{
    color: white;
    text-decoration: none;
}
li::marker{
    background-color: blue;
}
@media(max-width: 650px){
    .app-layout{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: 
    "header"
    "main"
    "sidebar";
}
main{
    padding: 0;
    justify-content: unset;
}
.side-bar{
    display: flex;
    align-items: center;
    overflow-x: auto;
    flex-direction: row;
}
.side-bar img {
    width: 70px;
}
nav{
    display: none;
}
.user-wrapper{
    display: none;
}
.burger{
    display: block;
}
#blizzard{
    display: none;
}
.dropdown-content {
    transform: translate(-80%);
}
}